.form-modal{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.75);
  display:flex;
  align-items: center;
  justify-content: center;
}

.add-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: var(--color-white);
  z-index: 1;
}

.add-form__container {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  padding: 16px;
}

.add-form__field {
  text-align: left;
}

.add-form__field input {
  background: var(--color-light-gray);
  border-radius: 5px;
  border: 1px solid  var(--color-light-gray);
  width: 100%;
  box-sizing: border-box;
  padding: 14px 16px;
  font-size: 18px;
  color: #EDEDED;
}

.add-form__footer {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.add-form__footer button {
  background-color: #4D2DD9;
  color: var(--color-white);
  width: 100%;
  border-radius: 5px;
  padding: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
