.card {
  background: var(--background-card);
  color: var(--font-color-card);
  font-size: 14px;
  padding: 6.8px 10px;
  border-radius: 5px;
  text-align: left;
  width: 148px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
}