.board{
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 30px;
  border-radius: 5px;
  max-width: 150px;
  /* height: 152px; */
}

.board__body {
  font-size: 30px;
  color: var(--color-light-gray);
  text-align: left;
  font-weight: bold;
  padding: 4px 10px;
  width: 128px;
  box-sizing: content-box;
}

.board__footer {
  display: flex;
  gap: 8px;
  padding: 10px;
}