.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 19px 16px 0 16px;
}

.header__main {
  display:flex;
  align-items: center;
  gap: 5px;
}

.isVisible{
  display: none;
}


.logo {
  display: flex;
  gap: 3.3px;
  align-items: flex-end;
}

.logo__rectangle-large{
  background-color: var(--color-white);
  height: 29.7px;
  width: 6.6px;
  border-radius: 5px;
}

.logo__rectangle-short{
  background-color: var(--color-white);
  height: 24.75px;
  width: 6.6px;
  border-radius: 5px;
}