@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Roboto+Mono&display=swap');

:root{
  --background-body: var(--color-dark-purple);
  --background-body-figure:rgba(255, 255, 255, 0.7);
  --background-lists: var(--color-white);
  --font-color-white: #FFFFFF;
  --color-white: #FFFFFF;
  --color-black: #292929;
  --color-light-gray: #DBDBDB;
  --color-grey: #AAACAF;
  --color-grey-2: #B1B1B1;
  --color-light-pink: #F9548C;
  --color-pink: #F34290;
  --color-green: #29A940;
  --color-turquoise: #598AB9;
  --color-dark-purple:#4D2DD9;
  --color-purple: #AA96F2;
  --color-orange: #FB9610;
  --button-background-green : #46FAD5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  margin: 0;
  font-family: 'Inconsolata', 'Roboto Mono', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-body);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


